:root {
  --primary-color: #5f35f5;
  --secodary-color: #0861f2;
  --heading-color: #11175d;
  --subtitle-color: rgba(0, 0, 0, 0.5);
  --white-color: #ffff;
  --black-color: #000000;
  --input-field: rgba(61, 61, 61, 0.5);
  --text-color: rgba(0, 0, 0, 0.5);
  --cancel-btn-color: rgb(210, 115, 115);
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Nunito", sans-serif;
  --text-font: "Open Sans", sans-serif;
}
body {
  position: relative;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

.removeButton {
  background: #e4e6eb !important;
  color: rgb(244, 67, 54) !important;
}
.removeButton:hover {
  background: #e4e6eb !important;
  color: #050505 !important;
}

/* modal blur */

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  backdrop-filter: blur(4px);
}
